@model Code.Models.Branch
@{
    ViewData["Title"] = "branchdropdown";
}




 

    <form class="row g-3" asp-action="branchdropdown" asp-controller="Codex" method="post">

       
            <label>BranchCode</label>
           
                <input type="text" asp-for="BranchCode" class="form-control" />


         
          
                <label>Bank Select</label>
                <select id="drpEmpList" class="form-control" asp-for="BranchId" asp-items="@(new SelectList(Model.Branchlist, "BankId", "BankName"))">
                    <option value="0">--Select--</option>
                </select>


           
            
                <input type="submit" name="btnSubmit" value="Submit" class="btn btn-success" />
            <
   

    </form>

